@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kdam+Thmor+Pro&display=swap');



main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    padding-top: 38px;
    background: linear-gradient(to bottom, #00021f, #151515);
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.sobre-mim {
    position: relative;
    margin-top: 10%;
    color: rgba(255, 255, 255, 0.98);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    justify-content: center;
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.sobre-mim h1 {
    text-align: center;
}

.sobre-mim p {
    position: relative;
    display: block;
    width:60%;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 16px;
    color: #2b73e0;
    text-align: justify;
    text-indent: 40px;
    justify-self: center;
    align-self: center;
    margin: 32px 0;
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.o-que-faco {
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    width: 60%;
    height: 300px;
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    color: rgba(255, 255, 255, 0.98);
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.o-que-faco h2 {
    margin-bottom: 42px;
    font-size: 24px;

}

.o-que-faco ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    justify-self: center;
    gap: 28px;
    list-style: none;
    
}

.o-que-faco ul li {
    padding-left: 8px;
    margin: 0 14px;
    transition: color 0.2s ease-in;
}

.o-que-faco ul li::marker {
    content: "▶";
    color: #2A7FFF;
    
}

.o-que-faco ul li:hover {
    color: #2A7FFF;
}

.servicos {
    display: flex;
    width: 60%;
    height: 300px;
    margin: 20px 0;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    color: rgba(255, 255, 255, 0.98);
    @media (max-width: 1000px) {
        width: 100%;
    }
}

.servicos h2 {
    margin-bottom: 42px;
    font-size: 24px;
}

.servicos ul {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-self: center;
    list-style: none;
    margin: 16px;
    gap: 20px;
    @media (max-width: 1000px) {
        gap: 20px;
        font-size: 14px;
        flex-wrap: wrap;
    }
}

.servicos ul li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px solid #2A7FFF;
    padding: 8px;
    border-radius: 10px;
    gap: 8px;
    /* background-color: #2a7fff0a; */
    animation: flash 2.8s linear infinite;
}

.servicos svg {
    width: 60px;
    height: 60px;
    margin: 8px;
    
}

.tecnologias {
    display: block;
    flex-direction: row;
    width: 60%;
    height: 100px;
    padding-bottom: 200px;
    justify-self: center;
    align-self: center;
    justify-items: center;
    color: rgba(255, 255, 255, 0.98);
    @media (max-width: 1000px) {
        width: 100%;
        margin-top: 100px;
    }
}

.mirror {
    display: none !important;
}

@media (max-width: 1000px) {
    .slide-group {
        display: flex;
        flex: 0 0 100%;
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        margin: 4px;
    }
 
    .mirror {
            display: flex !important;
    }
}

/* .slide-group:active {
            .mirror {
                display: none !important;
            }
        } */

.tecnologias h2 {
    margin-bottom: 42px;
    width: 100%;
}

.tecnologias ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-self: center;
    justify-items: center;
    gap: 4px;
    @media (max-width: 1000px) {
        padding: 4px;
        width: 100vw;
        height: 200px;
        will-change: transform;
        animation: scroll 10s linear infinite;
    }

    @media (max-width: 400px) {
        margin: 0 40px;
    }
}

.slide-group::-webkit-scrollbar {
            display: none;
        }

.tecnologias ul li {
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    color: rgba(255, 255, 255, 0.98);
    font-size: 18px;
   flex-wrap: wrap;
   width: 100px;
   align-items: center;
   justify-items: center;
   text-align: center;
   padding: 10px;
   
}

.tecnologias svg {
    width: 60px;
    height: 60px;
    @media (max-width: 1000px) {
        width: 40px;
        height: 40px;
    }
}

.CTA {
    width: 100%;
    height: 200px;
    text-align: center;
    /* align-content: center; */
    color: rgba(255, 255, 255, 0.98);
}

.back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    top: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    color: rgba(225, 255, 255, 40%);
    cursor: pointer;
}

.back:hover, .back:active {
    background-color: #000438;
}

.whats-btn-large {
    width: 60%;
    height: 48px;
    display: flex;
    padding: 12px 16px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(225, 255, 255, 98%);
    background-color: #25D366;
    border: none;
    border-radius: 14px;
    justify-self: center;
    justify-content: center;
    align-content: center;
    margin-top: 42px;
    cursor: pointer;
    @media (max-width: 1000px){
        width: 100%;
        font-size: 16px;
    }
}

.whats-btn-large:hover {
    transform: scale(1.02);
    background-color: #25d365cb;
}

.whats-btn-large:active {
    transform: scale(1);
    background-color: #25d365cb;
}

.container .whats-btn-large {
    position: relative;
    width: 30%;
    top: 40px;
    margin-top: 0;

     @media (max-width: 1000px){
        width: 50%;
        font-size: 16px;
    }
}

.container a {
    text-decoration: none;
    width: 100%;
    height: auto;
    margin: 0;
}

.whatsappIcon {
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 8px;
    font-size: 30px;
    justify-content: center;
    align-self: center;
}

@keyframes flash {
    10% {
        background: linear-gradient(to right, #00021f59  1%, #001535, #00021f59);
    } 20% {
        background: linear-gradient(to right, #00021f59 20%, #001535, #00021f59);
    } 30% {
        background: linear-gradient(to right, #00021f59 30%, #001535, #00021f59);
    } 40% {
        background: linear-gradient(to right, #00021f59 40%, #001535, #00021f59);
    } 50% {
        background: linear-gradient(to right, #00021f59 50%, #001535, #00021f59);
    } 60% {
        background: linear-gradient(to right, #00021f59 60%, #001535, #00021f59);
    } 70% {
        background: linear-gradient(to right, #00021f59 70%, #001535, #2b73e00e);
    } 80% {
        background: linear-gradient(to right, #00021f59 80%, #001535, #2b73e00e);
    } 90% {
        background: linear-gradient(to right, #00021f59 90%, #001535);
    } 100% {
        background: linear-gradient(to right, #00021f59 100%, #001535)
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(-100%);
    }
}